@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: Prompt;
}
.active hr {
  @apply block
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border: 1px solid #4E342E !important;
  opacity: 100% !important;
  background: #F2EDE9 !important;
}

.swiper-pagination-bullet-active {
  border: none !important;
  background: #4E342E !important;
}

.react-datepicker__header {
  border-bottom: none !important;
  background-color: white !important;
}

.react-datepicker {
  border: 1px solid #DADADA !important;
  border-radius: 10px; 
}

.react-datepicker__current-month {
  color: #4E342E !important;
  font-weight: 500 !important; 
  font-size: 16px !important; 
  font-family: 'Prompt', sans-serif !important; 
}

.react-datepicker__day-name {
  color: #4E342E !important; 
  font-weight: 400 !important; 
  font-family: 'Prompt', sans-serif !important; 
}

.react-datepicker__day {
  color: #4E342E !important;
  font-weight: 400; 
  font-family: 'Prompt', sans-serif; 
  font-size: 12px; 
}

.react-datepicker__day--selected {
  background-color: #A3806C !important; 
  color: white !important; 
  border-radius: 20% !important;
}

.react-datepicker__day--disabled {
  color: #DADADA !important;
}

.react-datepicker__day--today {
  font-weight: normal !important;
}

.react-datepicker__navigation {
  text-align: center;
  margin-top: 6px;
  font-weight: 200 !important;
  font-size: 16px;
}

.react-datepicker__day:hover {
  color: white !important;
  background-color: #A3806C !important;
  font-weight: 400; 
  font-family: 'Prompt', sans-serif; 
  font-size: 12px; 
}

.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
  color: #A3806C !important;
}